<div id="bg" [ngStyle]="{ backgroundImage: 'url(assets/bg.png)' }"></div>
<div class="content">
  <div id="main">
    <span id="about-title">
      <h1>About Me</h1>
    </span>
    <div id="pic"><img src="assets/portrait.jpg" /></div>
    <div id="info">
      <p>
        I am a 3<sup>rd</sup> year computer engineering student at the
        University of Toronto. I plan to focus on software engineering with a minor in artificial intelligence.
      </p>
      <p>
        I aspire to be a software engineer in the future. My goal is to eagerly learn about new technologies so that I
        can create things that would help
        other people in their daily lives.
      </p>
      <p>
        Things I do in my spare time is listen to hip hop music, play video
        games, and hang out with friends. Recently, I have been spending my free
        time playing chess.
      </p>
    </div>
  </div>
</div>