#bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main {
  top: 58%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 75%;
  /* height: 85%; */
  max-width: 870px;
  /* max-height: 620px; */
  height: 100%;
  text-align: center;
  display: inline-block;
}

#projects-title {
  display: block;
}

h1 {
  font-family: "IBM Plex Serif";

  font-size: 36px;
  text-align: center;
  color: bisque;
  text-decoration: underline;
}

.project-title {
  display: block;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

h4 {
  color: black;
  flex-wrap: nowrap;
  font-size: 34px;
  margin: auto;
  text-align: center;
  line-height: 1.1;
}

.card {
  margin: 10px 10px;
  padding: 10px;
  background-color: rgb(124, 181, 232);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 50%;

  width: 180px;
  height: 180px;

  display: inline-block;
}

img {
  border-radius: 5px 5px 0 0;
}

.appear {
  display: none;
  transition: 1s;
}

.card:hover {
  border-radius: 10%;
  background-color: rgb(3, 47, 84);
  transform: scale(1.4);
}

.card:hover > .appear {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.card:hover > .project-title {
  display: none;
}

p {
  display: block;
  font-size: 8px;
  color: white;
  text-align: justify;
  width: 97%;
  line-height: 1.4;
}

a:link,
a:visited {
  color: white;
}
