#bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  width: 50%;
}

#contact-title {
  display: block;
}

h1 {
  font-family: "IBM Plex Serif";

  font-size: 36px;
  text-align: center;
  color: bisque;
  text-decoration: underline;
}

#contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#email,
#linkedin,
#github {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  width: 100px;
}
