<div id="bg" [ngStyle]="{ backgroundImage: 'url(assets/bg.png)' }"></div>
<div class="content">
  <div id="main">
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/newhacks1.jpg">
          <img src="assets/newhacks1.jpg" width="600" height="315" />
        </a>
        <div class="desc">The Team</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/newhacks2.jpg">
          <img src="assets/newhacks2.jpg" width="600" height="400" />
        </a>
        <div class="desc">The Garbage Man</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/newhacks3.jpg">
          <img src="assets/newhacks3.jpg" width="600" height="400" />
        </a>
        <div class="desc">The Garbage Man before presentations</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/newhacks4.mp4">
          <video
            src="assets/newhacks4.mp4"
            loop
            controls
            height="315"
            width="240"
          >
            Work in progress, The Garbage Man
          </video>
        </a>
        <div class="desc">Working on hardware and software</div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
