.nav-bar {
  text-align: center;
}

ul {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(124, 181, 232);
}

li {
  display: inline-block;
}
a {
  font-family: "IBM Plex Serif";

  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: rgb(3, 47, 84);
}

li:hover > a {
  color: white;
}
