#bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#intro {
  max-width: 500px;
  width: 75%;
  text-align: center;

  display: inline-block;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#greeting,
#name {
  display: inline-block;
}

h3 {
  font-family: "IBM Plex Serif";

  margin-bottom: 0;
  margin-top: 0;
  color: whitesmoke;
  text-align: center;
  font-size: 60px;
  line-height: 1.1;
}

h1 {
  font-family: "IBM Plex Serif";

  flex-wrap: nowrap;

  color: bisque;
  text-align: center;
  font-size: 80px;
  line-height: 1.1;
}

span {
  padding: 20px;
  margin-bottom: 0;
  margin-top: 0;
  max-height: 32px;
}
